<!-- CARRUSEL -->
<div class="carrusel">
    <h1 data-tr="Brands"></h2>
    <div class="carrusel_container">
        <div class="carrusel_list"></div>
    </div>
    <div class="carrusel_indicator"></div>
</div>

<!-- CATEGORIAS -->
<div id="features-wrapper">
    <h1 data-tr="Categories"></h2>
    <br>
    <div class="container" id="features-wrapper-container">
        <div class="row" id="cat"></div>
    </div>   
</div>

<br>
<br>

<!-- Tipos -->
<div class="types">
    <h1 data-tr="Types"></h2>
    <div class="container_cards"></div>
</div>

<!-- News -->
<div class="news">
    <h1 data-tr="News"></h2>
    <div class="news_container" id="news_container"></div>
    <div class="no_more" id="no_more"></div>
    <div class="load_more">
        <button class="load_more_button" id="load_more_button">Load More</button>
    </div>
</div>