# Archivos de configuración con datos sensibles
*.env
*.env.*
config/*.php
config/*.ini
utils/*.ini
utils/*.lock
utils/*.json

# Archivos de clave privada
*.pem
*.ppk
*.key

# Archivos de base de datos
*.sql
*.sqlite
*.sqlite3

# Otros archivos sensibles
credentials.json
secrets.yml
