# Archivos de configuración con datos sensibles
*.env*
config/*.php
config/*.ini
utils/*.ini
utils/*.lock
utils/*.json
JWT.ini
utils\JWT.ini
# Archivos de clave privada
*.pem
*.ppk
*.key

# Archivos de base de datos
*.sql
*.sqlite*

# Otros archivos sensibles
credentials.json
secrets.yml
