


<div class="container">
    <h2 class="texto-dorado" style="text-align: center; margin-top: 50px; font-size: 2.5em; text-shadow: 2px 2px 4px #000000;" id="cart-header">El Carrito de <?php echo $_SESSION['username'];?></h2>
    <div class="row">
        <div class="col-md-8">
            <div class="cart-items" id = "cart-items">
                <!-- Aquí se cargarán dinámicamente los elementos del carrito -->
            </div>
        </div>
        <div class="col-md-4">
            <div class="cart-summary">
                <h3>Resumen del Carrito</h3>
                <div id="cart-summary-items">
                    <!-- Aquí se cargarán dinámicamente las líneas de resumen -->
                </div>
                <div class="summary-item">
                    <span>Total:</span>
                    <span id="total">0.00€</span>
                </div>
                <button class="btn btn-primary btn-block">Proceder al Pago</button>
            </div>
        </div>
    </div>
</div>