body {
    background-color: #53575f;
  }
  select:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
  
  
  option {
    font-size: 16px;
    padding: 5px;
    border: 1px solid #ccc; 
  }
  #userSection img {
    border-radius: 50%; 
  }
  
  #loginBtn {
    padding: 5px 10px;
    background-color: #d5b568;
    color: black;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Style for #userSection */
  #userSection {
    display: none;
  }
  
  
  option:checked {
    background-color: #cce5ff;
    font-weight: bold;
  }
  select {
    display: block;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    color: #444;
    line-height: 1.3;
    padding: .4em 1.4em .3em .8em;
    width: 400px;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .03);
    border-radius: .3em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%, #f7f7f7 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
  }
  
  /* Ocultar la flecha de desplegar en Internet Explorer */
  select::-ms-expand {
    display: none;
  }
  
  /* Estilos al pasar el cursor sobre el campo */
  select:hover {
    border-color: #888;
  }
  
  /* Estilos cuando el campo está enfocado */
  select:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
  }
  
  /* Estilos para las opciones dentro del select */
  select option {
    font-weight: normal;
  }
  
  /*++++++++++++++++++++++++++++++++++++++*/
  /* Estilos para el carrito */
.cart-items {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.cart-item:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

.cart-item-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 20px;
}

.cart-item-details {
    flex-grow: 1;
}

.cart-item-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.cart-item-price {
    font-size: 16px;
    color: #b99e5d;
    margin-bottom: 10px;
}

.cart-item-quantity {
    display: flex;
    align-items: center;
}

.cart-item-quantity input {
    width: 50px;
    text-align: center;
    margin: 0 10px;
}

.cart-item-remove {
    color: #b99e5d;
    cursor: pointer;
}

.cart-summary {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
}

.summary-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 16px;
}

.summary-item span:first-child {
    font-weight: bold;
}

.btn-primary {
    background-color: #b99e5d;
    border-color: #b99e5d;
}

.btn-primary:hover {
    background-color: #ddba6b;
    border-color: #ddba6b;
}
