<div class="error pb-5 pt-2 text-center" id="price">
    <div class="container pb-xl-5 pb-lg-3">
        <img src="https://screenshots.hostsuar.com/Screen-Shot-2018-08-24-12-53-31.png" alt="" class="img-fluid" />
        <h3 class="title-w3 text-bl my-3 font-weight-bold text-capitalize">Oops! This page can’t be found.</h3>
        <p class="sub-tittle text-center4">Sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
        <a href="index.php" class="btn button-style mt-5">Back To Home</a>
    </div>
</div>