	</div>
		<!-- Footer -->
		<div id="footer-wrapper">
			<footer id="footer" class="container">
				<div class="row">

					<div class="col-4 col-6-medium col-12-small">
						<!-- Contact -->
						<section class="widget contact last">
							<h4>Contact Us</h4>
							<ul>
								<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
							</ul>
							<p>1234 Fictional Road<br />
							Nashville, TN 00000<br />
							(800) 555-0000</p>
						</section>
					</div>
									
					<div class="col-4 col-6-medium col-12-small" align="center" id="traductor">
						<section class="widget links">
							<p>Change language:</p>
							<div id="idioma">
								<button data-tr="English" id="btn-eng"></button>
								<button data-tr="Spanish" id="btn-esp"></button>
								<button data-tr="Valenciano" id="btn-val"></button>
							</div>
						</section>
					</div>

					<div class="col-4 col-6-medium col-12-small" align="right">
						<!-- Links -->
						<section class="widget links">
							<img class="icono_2" src='http://localhost/Ejercicios/Framework_PHP_OO_MVC/view/images/Icono_footer.png'>
						</section>
					</div>

				</div>

				<div class="row">
					<div class="col-12">
						<div id="copyright">
							<ul class="menu">
								<li>&copy; Salva Muñoz Úbeda. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</body>
</html>