<!-- Header -->

<div id="header">
	<div id="header-wrapper">
		<header id="header" class="container">

			<!-- Logo -->
			<div id="icono">
				<a href="?module=home&op=view"></a>
			</div>

			<!-- Nav -->

			<nav id="nav">
				<ul class="nav_list">
					<!-- <li><a href="index.php?module=home&op=home" data-tr="Homepage"></a></li> -->
					<!-- <li><a href="index.php?module=shop&op=view" data-tr="Shop"></a></li> -->
					<!-- <li><a href="index.php?module=cars&op=list" data-tr="Cars"></a></li> -->
					<!-- <li><a href="index.php?module=login&op=login_view" data-tr="Login"></a></li> -->
					<!-- <li><a href="index.php?module=contact" data-tr="Contact us"></a></li> -->
					<!-- <li><a href="index.php?module=aboutus" data-tr="About us"></a></li> -->
					<!-- <li><a href="index.php?module=errors&op=errors_log" data-tr="Errors log"></a></li> -->
				</ul>
				<ul class="nav_list_profile">
				</ul>
			</nav>
		
			<div id="search">
				<form class="search_form">
					<select id="type_select">
						<option value="0">Car type...</option>
					</select>

					<select id="brand_select">
						<option value="0">Car brand...</option>
					</select>

					<input type="text" id="autocom" autocomplete="off"/>

					<input type="button" value="Search" id="search_button"/>

					<div id="search_auto"></div>
					
				</form>
			</div>

		</header>
	</div>
</div>

<div id="page_container">

