<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Second chance</title>

		<!-- JQUERY -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" />
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

		<!-- Bootpage -->
		<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="http://botmonster.com/jquery-bootpag/jquery.bootpag.js"></script>
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

		<!-- SLICK -->
		<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
		<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
		<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

		<!-- Mapbox -->
		<script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
		<link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet'/>

        <!-- CSS -->
		<link rel="stylesheet" href="<?php echo SITE_PATH ?>view/css/main.css"/>
	    <link rel="stylesheet" href="<?php echo SITE_PATH ?>view/css/style.css"/>

		<!-- BOX ICONS -->
		<link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <!-- Toaster -->
		<link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" type="text/css"/>
		<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
		
		<!-- Plantilla -->
        <!-- <script src="view/js/plant/jquery.min.js"></script> -->
		<script src="<?php echo SITE_PATH ?>view/js/plant/jquery.dropotron.min.js"></script>
		<script src="<?php echo SITE_PATH ?>view/js/plant/browser.min.js"></script>
		<script src="<?php echo SITE_PATH ?>view/js/plant/breakpoints.min.js"></script>
		<script src="<?php echo SITE_PATH ?>view/js/plant/util.js"></script>
		<script src="<?php echo SITE_PATH ?>view/js/plant/main.js"></script>

		<!-- JS -->
		<script src="<?php echo SITE_PATH ?>module/shop/view/js/controller_shop.js"></script>
		<script src="<?php echo SITE_PATH ?>view/js/translate.js"></script>
		<script src="<?php echo SITE_PATH ?>module/search/view/js/controller_search.js"></script>
		<script src="<?php echo SITE_PATH ?>module/login/view/js/controller_login.js"></script>

		<!-- Main JS -->
		<script src="<?php echo SITE_PATH ?>view/js/main.js"></script>
		<script src="<?php echo SITE_PATH ?>view/js/activity.js"></script>

		<!-- SCROLL REVEAL -->
		<script src="https://unpkg.com/scrollreveal"></script>   
    </head>
	
    <body class="is-preload homepage">

		<div id="contenedor_carga">
            <div class="spinner"></div>
        </div>