<div class="shop_container">
    <div class="list_view" id="list_view">
        <div class="filters_container">
            <form autocomplete="on" method="post" name="filter" id="filter" >
                <div class="filters_content"></div>
            </form> 
        </div>
        <div class="list_content" id="list_cars">
            <div class="orderby">
                <select id="orderby_select">
                    <option value="0">Order by...</option>
                    <option value="1">From highest to lowest price</option>
                    <option value="2">From lowest to highest price</option>
                </select>
                <input type="button" value="Apply" id="orderby_button"/>
            </div>
            <div class="list_content_2"></div>
        </div>
        <div class="maps_content" id="maps"></div>
    </div>
    <div class="shop_details">
        <div class="shop_details_content"></div>
        <div id="features-wrapper_2">
            <h1 data-tr="Cars related"></h2>
            <div class="container" id="features-wrapper-container_2">
                <div class="row" id="cat"></div>
                <div class="load_more">
                    <button class="load_more_button" id="load_more_button">Load More</button>
                </div>
            </div>
        </div>
    </div>
    <div id="pagination"></div> 
</div>
